#prviskill{
    height:100%;
    width:25%;
    float:left;
}
.names{
    height:100%;
    width:25%;
    float:left;
    font-weight: bold;
}
#slika{
    float:left;
}
#ime{
    font-weight:bold;
   
}
#forskills{
    float:left;
}
#health{
    float:left;
    font-weight:bold;

}
#hd{
    font-weight: bold;
}

